body{
    display: flex;
    justify-content: center;
} 
.big{
    width: 60%;
    margin: 30px;
}
.question{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.answers{
    display: flex;
    justify-content: center;
}
.message{
    font-size: 50px;
    text-align: center;
} 
.score{
    font-size: 100px;
    display: flex;
    justify-content: space-around;
}
.right{
    color: green;
}
.wrong{
    color: red;
}